.coverage
pipeline/*log 
pipeline/*png
pipeline/*txt
pipeline/*bam
pipeline/*sam
pipeline/*bed
pipeline/yeast*
pipeline/*fastq
pipeline/BINSIZE*
pipeline/galore*
pipeline/fastqc*
pipeline/*csv
data/*
